<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @tsd_receiptline.JourId %></h1>
    <%= link_to "Edit", :action => :edit, :id => @tsd_receiptline.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">JourId</td>
        <td class="itemValue"><%= @tsd_receiptline.JourId%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">ItemId</td>
        <td class="itemValue"><%= @tsd_receiptline.ItemId%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">InventSizeId</td>
        <td class="itemValue"><%= @tsd_receiptline.InventSizeId%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">OrderPrice</td>
        <td class="itemValue"><%= @tsd_receiptline.OrderPrice%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">OrderedQty</td>
        <td class="itemValue"><%= @tsd_receiptline.OrderedQty%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">ReceivedQty</td>
        <td class="itemValue"><%= @tsd_receiptline.ReceivedQty%></td>
      </tr>
      
    </table>
  </div>

</div>
