<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @tsd_inventprice.InventLocationId %></h1>
    <a href="<%= url_for :action => :show, :id => @tsd_inventprice.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @tsd_inventprice.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @tsd_inventprice.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="tsd_inventprice[InventLocationId]" class="fieldLabel">Inventlocationid</label>
            <input type="text" id="tsd_inventprice[InventLocationId]" name="tsd_inventprice[InventLocationId]" value="<%= @tsd_inventprice.InventLocationId %>" <%= placeholder( "Inventlocationid" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_inventprice[ItemId]" class="fieldLabel">Itemid</label>
            <input type="text" id="tsd_inventprice[ItemId]" name="tsd_inventprice[ItemId]" value="<%= @tsd_inventprice.ItemId %>" <%= placeholder( "Itemid" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_inventprice[InventSizeId]" class="fieldLabel">Inventsizeid</label>
            <input type="text" id="tsd_inventprice[InventSizeId]" name="tsd_inventprice[InventSizeId]" value="<%= @tsd_inventprice.InventSizeId %>" <%= placeholder( "Inventsizeid" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_inventprice[RetailPrice]" class="fieldLabel">Retailprice</label>
            <input type="text" id="tsd_inventprice[RetailPrice]" name="tsd_inventprice[RetailPrice]" value="<%= @tsd_inventprice.RetailPrice %>" <%= placeholder( "Retailprice" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_inventprice[SalesPrice]" class="fieldLabel">Salesprice</label>
            <input type="text" id="tsd_inventprice[SalesPrice]" name="tsd_inventprice[SalesPrice]" value="<%= @tsd_inventprice.SalesPrice %>" <%= placeholder( "Salesprice" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_inventprice[SalesDiscount]" class="fieldLabel">Salesdiscount</label>
            <input type="text" id="tsd_inventprice[SalesDiscount]" name="tsd_inventprice[SalesDiscount]" value="<%= @tsd_inventprice.SalesDiscount %>" <%= placeholder( "Salesdiscount" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_inventprice[YellowLabel]" class="fieldLabel">Yellowlabel</label>
            <input type="text" id="tsd_inventprice[YellowLabel]" name="tsd_inventprice[YellowLabel]" value="<%= @tsd_inventprice.YellowLabel %>" <%= placeholder( "Yellowlabel" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
