<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @tsdinventtabletmp.ItemId %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @tsdinventtabletmp.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">ItemId</div>
            <div class="itemValue"><%= @tsdinventtabletmp.ItemId %></div>
          </li>
      
          <li>
            <div class="itemLabel">ItemName</div>
            <div class="itemValue"><%= @tsdinventtabletmp.ItemName %></div>
          </li>
      
          <li>
            <div class="itemLabel">VendId</div>
            <div class="itemValue"><%= @tsdinventtabletmp.VendId %></div>
          </li>
      
          <li>
            <div class="itemLabel">VendName</div>
            <div class="itemValue"><%= @tsdinventtabletmp.VendName %></div>
          </li>
      
    </ul>
  </div>

</div>
