<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Настройки</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>

      <li>
        <div class="itemLabel">
          <span class="title">Пользователь:</span>
        </div>
        <div class="itemValue">
          <span class="clientID"><%= Rhom::Rhom::client_id %></span>
        </div>
      </li>

      <li><a href="<%= url_for :action => :reset %>">Обновить БД</a></li>
      <li><a href="<%= url_for :action => :do_sync %>">Выполнить синхр.</a></li>
      <% if SyncEngine::logged_in > 0 %>
          <li><a href="<%= url_for :action => :logout %>">Выход</a></li>
      <% else %>
          <li><a href="<%= url_for :action => :login %>">Вход></li>
      <% end %>
    </ul>
  </div>
</div>
