<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @tsd_inventcountjour.object %>
    <h1>Edit <%= @tsd_inventcountjour.JourId%></h1>
    <%= link_to "Delete", :action => :delete, :id => @tsd_inventcountjour.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @tsd_inventcountjour.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Jourid: </td>
              <td class="itemValue"><input type="text" name="tsd_inventcountjour[JourId]" value="<%= @tsd_inventcountjour.JourId %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Inventlocationid: </td>
              <td class="itemValue"><input type="text" name="tsd_inventcountjour[InventLocationId]" value="<%= @tsd_inventcountjour.InventLocationId %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Jourdescription: </td>
              <td class="itemValue"><input type="text" name="tsd_inventcountjour[JourDescription]" value="<%= @tsd_inventcountjour.JourDescription %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Jourdate: </td>
              <td class="itemValue"><input type="text" name="tsd_inventcountjour[JourDate]" value="<%= @tsd_inventcountjour.JourDate %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Deleted: </td>
              <td class="itemValue"><input type="text" name="tsd_inventcountjour[Deleted]" value="<%= @tsd_inventcountjour.Deleted %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Imported: </td>
              <td class="itemValue"><input type="text" name="tsd_inventcountjour[Imported]" value="<%= @tsd_inventcountjour.Imported %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
