<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @tsd_userinfo.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @tsd_userinfo.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="tsd_userinfo[UserId]" class="fieldLabel">Userid</label>
            <input type="text" id="tsd_userinfo[UserId]" name="tsd_userinfo[UserId]" <%= placeholder("Userid") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_userinfo[UserName]" class="fieldLabel">Username</label>
            <input type="text" id="tsd_userinfo[UserName]" name="tsd_userinfo[UserName]" <%= placeholder("Username") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_userinfo[InventLocationId]" class="fieldLabel">Inventlocationid</label>
            <input type="text" id="tsd_userinfo[InventLocationId]" name="tsd_userinfo[InventLocationId]" <%= placeholder("Inventlocationid") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_userinfo[Password]" class="fieldLabel">Password</label>
            <input type="text" id="tsd_userinfo[Password]" name="tsd_userinfo[Password]" <%= placeholder("Password") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="tsd_userinfo[SetPassword]" class="fieldLabel">Setpassword</label>
            <input type="text" id="tsd_userinfo[SetPassword]" name="tsd_userinfo[SetPassword]" <%= placeholder("Setpassword") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
