<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @tsd_userinfo.UserId %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @tsd_userinfo.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">UserId</div>
            <div class="itemValue"><%= @tsd_userinfo.UserId %></div>
          </li>
      
          <li>
            <div class="itemLabel">UserName</div>
            <div class="itemValue"><%= @tsd_userinfo.UserName %></div>
          </li>
      
          <li>
            <div class="itemLabel">InventLocationId</div>
            <div class="itemValue"><%= @tsd_userinfo.InventLocationId %></div>
          </li>
      
          <li>
            <div class="itemLabel">Password</div>
            <div class="itemValue"><%= @tsd_userinfo.Password %></div>
          </li>
      
          <li>
            <div class="itemLabel">SetPassword</div>
            <div class="itemValue"><%= @tsd_userinfo.SetPassword %></div>
          </li>
      
    </ul>
  </div>

</div>
