<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @tsdinventsumtmp.InventLocationId %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @tsdinventsumtmp.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">InventLocationId</div>
            <div class="itemValue"><%= @tsdinventsumtmp.InventLocationId %></div>
          </li>
      
          <li>
            <div class="itemLabel">ItemId</div>
            <div class="itemValue"><%= @tsdinventsumtmp.ItemId %></div>
          </li>
      
          <li>
            <div class="itemLabel">InventSizeId</div>
            <div class="itemValue"><%= @tsdinventsumtmp.InventSizeId %></div>
          </li>
      
          <li>
            <div class="itemLabel">VendCode</div>
            <div class="itemValue"><%= @tsdinventsumtmp.VendCode %></div>
          </li>
      
          <li>
            <div class="itemLabel">AvailableQty</div>
            <div class="itemValue"><%= @tsdinventsumtmp.AvailableQty %></div>
          </li>
      
          <li>
            <div class="itemLabel">OrderedQty</div>
            <div class="itemValue"><%= @tsdinventsumtmp.OrderedQty %></div>
          </li>
      
    </ul>
  </div>

</div>
